body{
  
}

.logo{
  height: 105%;
  width: 20%;
  float: left;
  border-radius: 50px;
}


.navpad{
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Fredoka One', cursive;
}


h2{
  font-family: 'Fredoka One', cursive;
}


.budtitle{
  font-family: 'Fredoka One', cursive;
  padding-top: 100px;

}


.aboutdet{
  font-style: italic;
}


.navbar-brand{
  font-family: 'Fredoka One', cursive;
}


.propad{
  padding-top: 250px;
}


.budpro{
  height:100px;
  width: 100px;
}


.product{
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}


.prosection{
  padding-top: 100px;
  text-align: center;
}

.pro1{
  padding-bottom: 150px;
}



.protitle{
  padding-top: 75px;
  font-family: 'Fredoka One', cursive;
}

#about{
  padding-top: 100px;
  font-size: 30px;
}

#pro-content{
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
}

.details{
  padding-top: 25px;
  padding-left: 550px;
  padding-right: 550px;
}

.shead{
  padding-top: 100px;
  font-style: italic;
}

h5{
  padding-top: 50px;
  font-style: italic;
}

.slist{
  font-style: italic;
  font-size: 20px;
}

.log{
  padding-top: 250px;
  padding-left: 100px;
}

.w-100{
  padding-left: 15%;
  padding-right:  15%;
  padding-top: 100px;
  width: auto;
}

#recom{
  padding-top: 90px;
}

.city{
  padding-top: 0;
}

.cart{
  width: 20%;
  margin:auto
}

.count{
  text-align: center;
}

.link1{
  font-style: italic;
  padding-bottom: 10px;
}

.cart-img{
  width: 5%;
  height: 5%;
  padding-bottom: 10px;
}

.cart-item{
  padding-top: 5px;
}

.cart-count{
  width: 3%;
  text-align: center;
}

.cart-sec{
  padding-left: 3%;
  padding-bottom: 2%;
}

.place-button{
  margin-left:  25px;
}

.articles{
  padding-top: 5%;
  font-style: italic;
}

.article-list{
  font-size: 25px;
}

#spon-about{
  padding-top: 100px;
  font-size: 30px;
  font-style: italic;
}

.address{
  margin-left: 10px;
  padding-bottom: 20px;
}
